/*--- COMMON STYLES --- */

body {
    background-color: #555555;
    margin: 0;
    padding: 0;
    font-family: 'Montserrat', sans-serif;
}

p {
    margin: 0;
    padding: 0;
}

.visually-hidden:not(:focus):not(:active) {
    position: absolute;

    width: 1px;
    height: 1px;
    margin: -1px;
    border: 0;
    padding: 0;

    white-space: nowrap;

    clip-path: inset(100%);
    clip: rect(0 0 0 0);
    overflow: hidden;
}

.button {
    font-family: 'Montserrat', sans-serif;
    background-color: #f65261;
    border: none;
    color: #ffffff;
    text-transform: uppercase;
    border-radius: 5px;
}

/*--- HEADER --- */

.header {
    background-image: url("./images/movie2.png");
    background-repeat: repeat-y;
    background-color: #232323;
}

/*--- HEADER FORM SEARCH --- */

.form-search__input {
    font-family: 'Montserrat', sans-serif;
    width: 713px;
    color: #ffffff;
    background-color: #232323;
    padding: 0 19px;
    border: none;
    border-radius: 4px;
    font-size: 20px;
    line-height: 24px;
    box-sizing: border-box;
}

.form-search__input::placeholder {
    opacity: 0.3;
}

.form-search__button {
    width: 233px;
    font-weight: 500;
    line-height: 24px;
    font-size: 20px;
    box-sizing: border-box;
}

/*--- TOGGLE BUTTON COMPONENT --- */

.toggle__button {
    background-color: #424242;
    opacity: 0.7;
    font-weight: 500;
    font-size: 15px;
    letter-spacing: 0;
    line-height: 19px;
    text-align: center;
    padding: 8px 20px;
}

.toggle-active {
    background-color: #f65261;
    opacity: 1;
}
